#banner{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    img {
        // width: 100%;
        max-width: 120%;
        min-height: 100%;
        z-index: 300;
    }
    .color-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        background: rgba(51, 0, 255, 0.851);
        opacity: .7;
        z-index: 299;
    }
    .heading {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        font-size: 3vw;
        font-family: Poppins;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 301;
        color: white;
    }

    @include media(1400px){
        height: 30vh;
    }
    @include media(650px){
        height: 20vh;
    }
}
